files/schemas/fpml4-4/fpml-loan-4-4.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- 
== Copyright (c) 2002-2007. All rights reserved. 
== Financial Products Markup Language is subject to the FpML public license. 
== A copy of this license is available at http://www.fpml.org/documents/license.html
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.fpml.org/2007/FpML-4-4" xmlns:fpml="http://www.fpml.org/2007/FpML-4-4" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" ecore:nsPrefix="fpml" ecore:package="org.fpml" ecore:documentRoot="FpML" targetNamespace="http://www.fpml.org/2007/FpML-4-4" version="$Revision: 2406 $" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xsd:include schemaLocation="fpml-shared-4-4.xsd" />
  <xsd:include schemaLocation="fpml-msg-4-4.xsd" />
  <xsd:complexType name="DealIdentifier">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The reference to an agreement entered into between the borrower, the lenders, the agent, and other financial parties that describes the terms and conditions of the loan being made to the borrower and the obligations and requirements for the borrower, its related entities (if any), and the lenders. List of Ids should include at least CUSIP (if exists) and system Id of the system that generates the notice.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Product">
        <xsd:sequence>
          <xsd:element name="dealName" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Usually defined as Legal Borrower Name + Credit Agreement Date (mm/yyyy)</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="creditAgreementDate" type="xsd:date" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The credit agreement date is the closing date (the date where the agreement has been signed) for the loans in the credit agreement. Funding of the facilities occurs on (or sometimes a little after) the Credit Agreement date.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DrawdownNotice">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The notification from the agent bank to lender that loan contract is requested by the borrower. A loan contract notice will be created by the agent bank for each of the lenders</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="LoanContractNotice">
        <xsd:sequence>
          <xsd:element name="drawdownEventType" type="DrawdownEventTypeEnum" />
          <xsd:element name="drawdownPayment" type="DrawdownPayment" />
          <xsd:element name="party" type="Party" minOccurs="2" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DrawdownPayment">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Lender portion of the drawdown payment</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="paymentDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The date on which the principal payment is made by the leder to the agent bank. Usually defaults to the effective date of the loan contract.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="shareLoanContractAmount" type="Money" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FacilityCommitmentPosition">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Represents current and prior facility commitment amount on both global and lender postion levels</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="currentAmount" type="ParticipationAmount" />
      <xsd:element name="priorAmount" type="ParticipationAmount" />
      <xsd:element name="loanContractPosition" type="LoanContractPosition" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FacilityIdentifier">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The reference to a single credit limit within a loan deal. Also known as tranche. List of Ids should include at least CUSIP (if exists) and system Id of the system that generates the notice.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Product">
        <xsd:sequence>
          <xsd:element name="facilityName" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Usually defined as Legal Borrower Name + Credit Agreement Date (mm/yyyy)</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="currency" type="Currency" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Facility denomination currency.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="originalCommitmentAmount" type="xsd:decimal" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Original global commitment amount of the facility.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FacilityNotice" abstract="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Template for all facility notices.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NotificationMessage">
        <xsd:sequence>
          <xsd:group ref="FacilityNoticeDetails.model" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FacilityRepayment">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Lender share of the borrower re-payment</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="refusalAllowed" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Defines whether the lender has an option to accept or deny the payment</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="adjustsCommitment" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Defines whether repayment comes with commitment adjustments</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="breakageCost" type="BreakageCostEnum" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">When breakage cost is applicable, defines who is calculating it.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="repaymentDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Date on which principal repayment was paid to the lender by the agent bank&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="amount" type="ParticipationAmount">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Global and share amount</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FeeAccrualPeriod">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The period for accrual fee caculation where fee rate and underlying position amount (commitment, utilization or unutilized) is constant</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:group ref="Period.model">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Fee accrual period.</xsd:documentation>
        </xsd:annotation>
      </xsd:group>
      <xsd:element name="accrualAmount" type="ParticipationAmount" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">&gt;Global and lender share accrued fee amount.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FeeAccrualSchedule">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The details of the underlying elements that effects the calculation of the accrual of the particular fee.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="lenderCommitmentPeriod" type="LenderPositionPeriod" maxOccurs="unbounded">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">The minimal period where both lender and global commitment amounts remain constant.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="lenderUtilizationPeriod" type="LenderPositionPeriod" maxOccurs="unbounded">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">The minimal period where both lender and global utilization amounts remain constant..</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="lenderUnutilizedPeriod" type="LenderPositionPeriod" maxOccurs="unbounded">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">The minimal period where both lender and global unutilized amounts remain constant.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
      <xsd:element name="feeRatePeriod" type="RatePeriod" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The minimal period where the fee rate remains constant.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="feeAccrualPeriod" type="FeeAccrualPeriod" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The minimal period where all the factors effecting the fee accrual are constant.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FxTerms">
    <xsd:annotation>
      <xsd:documentation>A complex type to specify FX conversion terms.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="fxRate" type="FxRate" />
      <xsd:element name="fixingDate" type="xsd:date" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InterestAccrualPeriod">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A period with constant interest rate within which the lender maintains certain position</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:group ref="Period.model">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Interest period.</xsd:documentation>
        </xsd:annotation>
      </xsd:group>
      <xsd:element name="shareLoanContractAmount" type="Money">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Lender share of a loan contract.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="shareInterestAccrualAmount" type="Money">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Accrued Interest over the period</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sharePikAccrualAmount" type="Money" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Accrued PIK over the period</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InterestAccrualSchedule">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The schedule that incorporates all periods fpr all factors that determines interest payment calculation</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="interestRatePeriod" type="InterestRatePeriod" maxOccurs="unbounded" />
      <xsd:element name="pikPeriod" type="PikPeriod" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="lenderLoanContractPeriod" type="LenderLoanContractPeriod" maxOccurs="unbounded" />
      <xsd:element name="interestAccrualPeriod" type="InterestAccrualPeriod" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InterestPayment">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A payment requested by the agent bank from each lender for the accrued interest amount for the certain period for the certain loan contract</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="calculationMethod" type="InterestCalculationMethodEnum" />
      <xsd:element name="paymentDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Date on which interest was paid to the lender by the agent bank.&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="amount" type="ParticipationAmount">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Interest amount paid by the borrower to the agent bank and lender share of it</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InterestPaymentNotice">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A notice about the payment requested by the agent bank from each lender for the accrued interest amount for the certain period for the certain loan contract</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="LoanContractNotice">
        <xsd:sequence>
          <xsd:element name="interestPayment" type="InterestPayment" />
          <xsd:element name="interestAccrualSchedule" type="InterestAccrualSchedule" />
          <xsd:element name="party" type="Party" minOccurs="2" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="InterestRatePeriod">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Interest rate information per rate period</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="rateFixingDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Date on which the underlying interest rate is fixed. Should default to effective date of the loan contract in the case of PRIME underlying.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:group ref="Period.model">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Dates defining an interest period. Regarding the endDate, for ABR loans and any other PRIME-based loan contracts the field should default to loan contract maturity date.</xsd:documentation>
        </xsd:annotation>
      </xsd:group>
      <xsd:group ref="FloatingRateIndex.model" />
      <xsd:element name="interestRate" type="xsd:decimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en"></xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="margin" type="xsd:decimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en" />
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="mlaCost" type="Money" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Mandatory Liquid Asset Cost, charged by the FSA, applicable for UK funded loan contracts only.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="allInRate" type="xsd:decimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">(Interest Rate + Margin + Mandatory Liquid Asset Cost) = All In Rate.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="interestDayBasis" type="DayCountFraction" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The day count basis for the interest period.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tenor" type="Interval" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The number of business days in the interest rate period</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LenderLoanContractPeriod">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A period within which the lender maintains certain loan contract position</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:group ref="Period.model">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Dates defining an interest period.</xsd:documentation>
        </xsd:annotation>
      </xsd:group>
      <xsd:element name="shareCommitmentAmount" type="Money" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Current lender share.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="shareLoanContractAmount" type="Money">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Lender share of a loan contract. This is based on the share of the overall commitment that the lender is assigned.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LenderPositionPeriod">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A period within which the lender maintains certain position amount.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:group ref="Period.model" />
      <xsd:element name="positionAmount" type="ParticipationAmount" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Global and lender share amounts.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LoanContract">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A basic structure descibing an outstanding loan agreement between borrower and lenders made within a facility under a deal. Examples: loan contract, letter of credit, bank acceptance</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="loanContractIdentifier" type="LoanContractIdentifier" />
      <xsd:element name="dealIdentifier" type="DealIdentifier" />
      <xsd:element name="facilityIdentifier" type="FacilityIdentifier">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Set of fields identifying instrument.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="borrowerPartyReference" type="PartyReference">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">There could be multiple borrowers against a loan contract however the agents have been trying to promote the concept of an administrative borrower. Hence, only one being shown in the field list.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="amount" type="Money">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">An amount associated with the loan contract with loan contract currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="effectiveDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Effective date of the loan contract. This is the date on which the funds are passed to the borrower.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="conditionsPrecedentMet" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The flag defining whether coditions precedent defined in the credit agreement is met and borrower can start drawing against deal facilities.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="conditionsPrecedentComment" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A free text field defining the resons why conditions precedent has not been met.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fxTerms" type="FxTerms" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Defines FX exchange rate when loan contract and facility currencies are different.&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="currentInterestRatePeriod" type="InterestRatePeriod" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The current interest period defining interest rate on the contract&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="interestPaymentTenor" type="Interval" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The frequency in which interest payments made, as defined in the credit agreement.&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="nextInterestPaymentDate" type="xsd:date" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Next interest payment is due on this date.&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LoanContractIdentifier">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A basic set of fields to identify the loan contract</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="identifier" type="ContractIdentifier" maxOccurs="unbounded" />
      <xsd:element name="originalAmount" type="Money" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Original amount associated with the loan contract in loan contract currency.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="maturityDate" type="xsd:date" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Maturity date of the loan contract. In the case of an ABR loan this field should be set to the maturity date of the facility.&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LoanContractNotice" abstract="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Template for all loan contract notices.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NotificationMessage">
        <xsd:sequence>
          <xsd:group ref="FacilityNoticeDetails.model" />
          <xsd:choice>
            <xsd:element name="loanContract" type="LoanContract" />
            <xsd:element name="loanContractIdentifier" type="LoanContractIdentifier" />
          </xsd:choice>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LoanContractPosition">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Represents outstanding loan amounts on both global and lender postion levels</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="loanContractIdentifier" type="LoanContractIdentifier" />
      <xsd:element name="currentAmount" type="ParticipationAmount" />
      <xsd:element name="priorAmount" type="ParticipationAmount" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LoanContractRepayment">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The amount of principal repayment associated with a single loan contract</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="loanContractIdentifier" type="LoanContractIdentifier" />
      <xsd:element name="amount" type="ParticipationAmount">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The amount of the repayment associated with this loan contract.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="interestPaidWithRepayment" type="InterestPaidWithRepaymentEnum">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Defines the option of paying interest on repayment date.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OneOffFeeNotice">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">There are cases where the borrower may be required to make a one-off fee payment. This will usually be based on a certain business event occurring. The rules as to how much is charged will be stated in the credit agreement. The only fee type covered in this section is amendment Fee: A fee charged to the borrower for an amendment being made to the originally agreed credit agreement. The fee is based on a rate (as stated in the agreement) applied to the current commitment level.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="FacilityNotice">
        <xsd:sequence>
          <xsd:element name="loanContractIdentifier" type="LoanContractIdentifier" minOccurs="0" />
          <xsd:element name="feePayment" type="OneOffFeePayment" />
          <xsd:element name="party" type="Party" minOccurs="2" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OneOffFeePayment">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The details of a payment made by the borrower to the agent bank related to a given oneOff facilty fee.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="feeType" type="OneOffFeeTypeEnum">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Type of the fee</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="effectiveDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The date when fee is due</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="paymentDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The day on which the fee is payed by the borrower to the agent bank.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="amount" type="ParticipationAmount">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The fee amount payed by the borrower to the agent bank.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OnGoingFeeNotice">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The agent bank will request that the borrower makes a fee payment in accordance with the credit agreement. The borrower will make a payment to the agent bank after which the agent bank will calculate each lenders fee amounts. It is important to note that these fees are all calculated based on facility level information. The fee types are Commitment Fee, Utilization Fee, Facility Fee, Letter of Credit Fee.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="FacilityNotice">
        <xsd:sequence>
          <xsd:element name="feePayment" type="OnGoingFeePayment" />
          <xsd:element name="feeAccrualSchedule" type="FeeAccrualSchedule" />
          <xsd:element name="party" type="Party" minOccurs="2" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OnGoingFeePayment">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The details of a payment made by the borrower to the agent bank related to a given onGoing facilty fee.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="feeType" type="OnGoingFeeTypeEnum">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Type of the fee</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:group ref="Period.model">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Fee payment period.</xsd:documentation>
        </xsd:annotation>
      </xsd:group>
      <xsd:element name="feeDayBasis" type="DayCountFraction" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The day count basis for the fee calculation period.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="paymentDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The day on which the fee is payed by the borrower to the agent bank.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="amount" type="ParticipationAmount">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The fee amount payed by the borrower to the agent bank.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ParticipationAmount">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Generic type to capture global and share amounts</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="globalAmount" type="Money" minOccurs="0" />
      <xsd:element name="shareAmount" type="Money" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PikPeriod">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A period with a constant PIK percentage - the percentage of margin capitalized.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:group ref="Period.model">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Dates defining the period.</xsd:documentation>
        </xsd:annotation>
      </xsd:group>
      <xsd:element name="pikMarginPercent" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The percentage of marging that will be capitalized.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RatePeriod">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Rate information per rate period</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:group ref="Period.model">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Rate period.</xsd:documentation>
        </xsd:annotation>
      </xsd:group>
      <xsd:element name="rate" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">&gt;Rate for this period</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Repayment">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Lender share of the borrower re-payment</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="facilityRepayment" type="FacilityRepayment" />
      <xsd:element name="loanContractRepayment" type="LoanContractRepayment" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RepaymentConfirmationNotice">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Confirmation notice on whether the lender has accepted or rejected the borrower’s request for unsheduled principal repayment</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="FacilityNotice">
        <xsd:sequence>
          <xsd:element name="confirmationType" type="LoanRepaymentConfirmEnum">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Defines whether the lender is accepting in ful, partially accepting or denying repayment</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="shareRepaymentAmount" type="Money">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Repayment amount agreed to be accepted by the specific lender.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="party" type="Party" minOccurs="2" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="RepaymentNotice">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A loan repayment notice.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="FacilityNotice">
        <xsd:sequence>
          <xsd:element name="repayment" type="Repayment" />
          <xsd:element name="party" type="Party" minOccurs="2" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="FacilityNoticeDetails.model">
    <xsd:sequence>
      <xsd:element name="noticeDate" type="xsd:date" />
      <xsd:element name="agentBankPartyReference" type="PartyReference" minOccurs="0" />
      <xsd:element name="borrowerPartyReference" type="PartyReference" minOccurs="0" />
      <xsd:element name="lenderPartyReference" type="PartyReference" minOccurs="0" />
      <xsd:element name="dealIdentifier" type="DealIdentifier" />
      <xsd:element name="facilityIdentifier" type="FacilityIdentifier" />
      <xsd:element name="facilityCommitmentPosition" type="FacilityCommitmentPosition" minOccurs="0" />
      <xsd:element name="comments" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Manually-entered field which will be used by human users only.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="Period.model">
    <xsd:sequence>
      <xsd:element name="startDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Date on which this period begins.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="endDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Date on which this period ends.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
</xsd:schema>

